color=1f1f28
ring-color=1f1f2800
line-clear-color=00000000
line-wrong-color=00000000
line-ver-color=00000000
inside-color=1f1f2800
key-hl-color=76946a
separator-color=1f1f2800
line-color=1f1f2800
inside-ver-color=1f1f2800
inside-clear-color=1f1f2800
inside-wrong-color=1f1f2800
ring-wrong-color=c4746e00
ring-ver-color=8a9a7b00
ring-clear-color=dcd7ba00
text-wrong-color=dcd7ba
text-ver-color=dcd7ba00
text-clear-color=dcd7ba 
text-caps-lock-color=8a9a7b00
bs-hl-color=c34043
indicator-radius=300
indicator-thickness=7
clock
font=MesloLGS Nerd Font
text-color=dcd7ba
text-ver=
text-wrong=
timestr=%H:%M
datestr=%x
indicator-x-position=400
